* {
	box-sizing: border-box;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
	float: left;
	text-align: left;
	margin-top: 8px;
	margin-left: 15px;
}

.navbar-default {
	background-color: #999999;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.navbar-toggle {
	background-color: #ddd;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active {
	background-color: #fff;
}

#main-content h2 {
	margin-top: 30px;
	margin-bottom: 30px;
}

#main-content section {
	background-color: #999999;
	margin-bottom: 20px;
}

#main-content section h4 {
	text-align: center;
	font-weight: bold;
	font-size: 1.7em;
}

#nav-list {
	margin-top: 0px;
}

#nav-list a {
	text-align: center;
	background-color: #eee;
	color: black;
	font-size: 1.2em;
}

#nav-list li:nth-child(odd) {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#nav-list a:hover, #nav-list a:active {
	text-align: center;
	color: black;
	background-color: #fff;
	border: 2px solid black;
}
